version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: devops-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - "3307:3306"

  web:
    build: .
    container_name: devops-flask
    restart: always
    env_file:
      - .env
    expose:
      - "5000"
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      DB_HOST: mysql
    volumes:
      - ./static/uploads:/app/static/uploads

  nginx:
    image: nginx:1.25-alpine
    container_name: devops-nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /home/ubuntu/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - web

  certbot:
    image: certbot/dns-duckdns:latest
    container_name: devops-certbot
    volumes:
      - /home/ubuntu/letsencrypt:/etc/letsencrypt
    entrypoint: >
      sh -c "certbot certonly --non-interactive --agree-tos
      --email you@example.com
      --dns-duckdns --dns-duckdns-credentials /etc/letsencrypt/duckdns.ini
      -d dnotes.duckdns.org"

volumes:
  mysql_data:
