version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: devops-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: devops_notes
    volumes:
      - mysql_data:/var/lib/mysql

  web:
    build: .
    container_name: devops-flask
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - mysql
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: rootpassword
      DB_NAME: devops_notes

volumes:
  mysql_data:
