name: Deploy DevOps Notes Manager to EC2

on:
  workflow_run:
    workflows: ["devops-notes-manager CI"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 instance
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            cd /home/ubuntu/flask-devops-notes

            echo "Generating .env file on EC2"

            cat > .env <<EOF
            FLASK_ENV=production
            FLASK_APP=app
            FLASK_RUN_HOST=0.0.0.0
            FLASK_RUN_PORT=5000

            MYSQL_ROOT_PASSWORD=${{ secrets.MYSQL_ROOT_PASSWORD }}
            MYSQL_DATABASE=${{ secrets.MYSQL_DATABASE }}
            MYSQL_USER=${{ secrets.MYSQL_USER }}
            MYSQL_PASSWORD=${{ secrets.MYSQL_PASSWORD }}

            DB_HOST=db
            DB_PORT=3306
            DB_NAME=${{ secrets.DB_NAME }}
            DB_USER=${{ secrets.DB_USER }}
            DB_PASSWORD=${{ secrets.DB_PASSWORD }}
            SECRET_KEY=${{ secrets.SECRET_KEY }}
            EOF

            echo "Deploying latest version"
            git pull origin main --rebase
            docker compose down
            docker compose up -d --build
            
            echo "Running Database Migrations..."
            docker compose exec -T web python scripts/migrate.py
